@charset "UTF-8";
@media (min-width: 980px) {
  /* line 2, client/sass/pages/course_list.scss */
  .list-div.container {
    width: 1100px;
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1220px) {
  /* line 10, client/sass/pages/course_list.scss */
  .list-div.container {
    width: 1100px; } }

/* line 16, client/sass/pages/course_list.scss */
a {
  text-decoration: none; }

/* line 19, client/sass/pages/course_list.scss */
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0; }

/* line 27, client/sass/pages/course_list.scss */
.clearfloat {
  zoom: 1; }

/* line 31, client/sass/pages/course_list.scss */
.list-div {
  position: relative;
  min-height: 600px;
  margin-bottom: 90px; }
  /* line 35, client/sass/pages/course_list.scss */
  .list-div hr {
    color: #E6E6E6; }

/*列表页筛选*/
/* line 44, client/sass/pages/course_list.scss */
.category-nav {
  margin-top: 20px;
  height: 100px;
  border-bottom: 2px solid #E6E6E6; }

/* line 50, client/sass/pages/course_list.scss */
.category-nav .left {
  display: inline-block; }

/* line 54, client/sass/pages/course_list.scss */
.category-link {
  font-size: 14px;
  color: #343434; }
  /* line 57, client/sass/pages/course_list.scss */
  .category-link a {
    color: #343434;
    text-decoration: none;
    padding: 5px 14px;
    margin-right: 14px; }

/* line 69, client/sass/pages/course_list.scss */
.profess-link {
  padding-top: 24px; }
  /* line 71, client/sass/pages/course_list.scss */
  .profess-link .select {
    color: #00ABE6; }
  /* line 74, client/sass/pages/course_list.scss */
  .profess-link a:hover {
    color: #00ABE6; }

/* line 80, client/sass/pages/course_list.scss */
.kind-link .select {
  background-color: #00ABE6;
  color: #fff; }

/* line 85, client/sass/pages/course_list.scss */
.kind-link a:hover {
  background-color: #00ABE6;
  color: #fff; }

/*列表页筛选 end*/
/* line 94, client/sass/pages/course_list.scss */
.list-div .course-nodata {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding-top: 150px;
  text-align: center;
  display: none;
  z-index: 10000;
  background: #fff; }
  /* line 103, client/sass/pages/course_list.scss */
  .list-div .course-nodata p {
    margin-top: 18px;
    font-size: 14px;
    color: #8D8D8D; }
  /* line 108, client/sass/pages/course_list.scss */
  .list-div .course-nodata img {
    width: 155px; }
