/* line 1, client/sass/pages/forget_password.scss */
.forget-password {
  position: relative;
  padding: 128px 0 278px 0; }

/* line 5, client/sass/pages/forget_password.scss */
.forget-password .tit {
  font-size: 22px;
  line-height: 30px;
  color: #646464;
  text-align: center; }

/* line 11, client/sass/pages/forget_password.scss */
.forget-password input {
  width: 100%;
  height: 36px;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  color: #8f8f8f;
  font-size: 14px;
  line-height: 20px;
  padding-left: 10px; }

/* line 21, client/sass/pages/forget_password.scss */
.forget-password input.captcha {
  width: 62%; }

/* line 24, client/sass/pages/forget_password.scss */
.forget-password .write {
  margin: 26px 0 20px 0; }

/* line 27, client/sass/pages/forget_password.scss */
.forget-password .find-box .graph-captcha-box {
  font-size: 0; }

/* line 30, client/sass/pages/forget_password.scss */
.forget-password .find-box .graph-captcha-box input.graph-captcha {
  width: 53%; }

/* line 33, client/sass/pages/forget_password.scss */
.forget-password .find-box .graph-captcha-box .right {
  position: relative;
  display: inline-block;
  height: 36px;
  padding-right: 50px; }

/* line 40, client/sass/pages/forget_password.scss */
.forget-password .find-box .graph-captcha-box .right .show-graph {
  display: inline-block;
  width: 80px;
  height: 36px;
  background: rgba(0, 171, 230, 0.08);
  border: 1px solid #00ABE6;
  border-radius: 4px; }

/* line 48, client/sass/pages/forget_password.scss */
.forget-password .find-box .graph-captcha-box .another {
  position: absolute;
  right: 0;
  top: 8px;
  font-size: 14px;
  margin-left: 8px;
  color: #B6BEC3;
  text-decoration: none; }

/* line 57, client/sass/pages/forget_password.scss */
.forget-password .find-box .graph-captcha-box .another:hover {
  color: red; }

/* line 60, client/sass/pages/forget_password.scss */
.forget-password .find-box .captcha-box {
  margin: 20px 0; }

/* line 63, client/sass/pages/forget_password.scss */
.forget-password .find-box .captcha-box .get-captcha {
  float: right;
  display: block;
  width: 35%;
  height: 36px;
  border: 1px solid #00abe6;
  border-radius: 4px;
  color: #00abe6;
  text-align: center;
  font-size: 14px;
  line-height: 36px; }

/* line 75, client/sass/pages/forget_password.scss */
.forget-password .find-box .captcha-box .get-captcha:hover {
  background-color: #00abe6;
  color: #fff; }

/* line 79, client/sass/pages/forget_password.scss */
.forget-password .find-box .next-btn, .forget-password .reset-box .submit-btn {
  display: block;
  width: 100%;
  height: 44px;
  background: #00ABE6;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 44px;
  margin-top: 20px; }

/* line 91, client/sass/pages/forget_password.scss */
.forget-password .find-box .next-btn:hover, .forget-password .reset-box .submit-btn:hover {
  background: #0799CB; }

/* line 94, client/sass/pages/forget_password.scss */
.forget-password .success {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 180px;
  height: 63px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
  border-radius: 4px;
  background-color: #fff;
  -ms-transform: translateX(-90px) translateY(-106px);
      transform: translateX(-90px) translateY(-106px);
  padding-top: 22px;
  z-index: 99; }

/* line 107, client/sass/pages/forget_password.scss */
.forget-password .success .success-info {
  width: 120px;
  height: 20px;
  font-size: 0;
  margin: 0 auto; }

/* line 113, client/sass/pages/forget_password.scss */
.forget-password .success p {
  float: left;
  width: 20px;
  height: 20px; }

/* line 120, client/sass/pages/forget_password.scss */
.forget-password .success span {
  float: right;
  font-size: 14px;
  line-height: 20px;
  color: #8F8F8F; }

/* line 126, client/sass/pages/forget_password.scss */
.forget-password .success p img {
  width: 100%; }
