html, body {
    font-family: "PingFangSC-light", "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 62.5%;
    text-align: center;
}
ul {
    list-style: none;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
.pm-course-img {
    margin-bottom: 42px;
    margin-top: 28px;
    padding: 0;
    width: 1200px;
    margin: 0 auto;
}
.pm-course-img div {
    display: inline-block;
    position: relative;
}

.pm-course-img div>span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}

.pm-course-img>li {
    display: inline-block;
    text-align: left;
    cursor: pointer;
}

.pm-course-img>li>div {
    position: relative;
}

.pm-course-img>li>div>.text {
    position: absolute;
    z-index: 10;
    color: #fff;
    top: -20%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    text-align: center;
}

.pm-course-img>li>div:hover>.text>.course-icon {
    display: block;
}

.pm-course-img>li>div:hover>.text>.content {
    display: block;
}

.pm-course-img>li>div>.text>h3 {
    font-size: 52px;
}

.pm-course-img>li>div>.text>p {
    font-size: 20px;
    margin-top: 0;
}

.pm-course-img>li>div>.text>.content {
    font-size: 13px;
    text-align: left;
    width: 140%;
    display: none;
}

.pm-course-img>li:nth-of-type(1) {
    width: 594px;
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(1) {
    width: 246px;
    height: 296px;
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(1)>.text {
    width: 65%;
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(1)>span {
    background-color: rgba(160, 124, 124, .4);
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(2) {
    width: 343px;
    height: 296px;
    background-color: rgba(101, 101, 101, .4);
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(2)>span {
    background-color: rgba(101, 101, 101, .4);
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(3) {
    width: 329px;
    height: 296px;
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(3)>span {
    background-color: rgba(65, 65, 65, .7);
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(4) {
    width: 260px;
    height: 296px;
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(4)>.text {
    width: 65%;
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(4)>span {
    background-color: rgba(218, 218, 218, .7);
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(4)>.text>h3 {
    color: #303030;
}

.pm-course-img>li:nth-of-type(1)>div:nth-of-type(4)>.text>p {
    color: #2f2f2f;
}

.pm-course-img>li:nth-of-type(2)>div>.text {}

.pm-course-img>li:nth-of-type(2)>div>.text>h3 {}

.pm-course-img>li:nth-of-type(2)>div>.text>p {
    width: 140%;
}

.pm-course-img>li:nth-of-type(2)>div>span {
    background-color: rgba(112, 131, 105, .6);
    height: 596px;
}



.pm-course-img>li>div:hover>.text>* {
    text-align: left;
    color: #fff;
    opacity: 1;
}

.pm-course-img>li>div:hover>.text>h3 {
    display: none;
}


/*// .pm-course-img > li:nth-of-type(3) {
//     writing-mode: tb-rl;
//     -webkit-writing-mode: vertical-rl;
//     writing-mode: vertical-rl;
//     *writing-mode: tb-rl;
// }*/

.pm-course-img>li:nth-of-type(3)>div {
    display: block;
}

.pm-course-img>li:nth-of-type(3)>div:nth-of-type(1)>span {
    background-color: rgba(104, 107, 128, .5);
    height: 296px;
}

.pm-course-img>li:nth-of-type(3)>div:nth-of-type(2)>span {
    background-color: rgba(125, 136, 131, .5);
    height: 296px;
}

.pm-course-img>li:nth-of-type(3)>div>.text {
    width: 60%;
}

.course-icon {
    display: none;
    width: 54px;
    height: 54px;
    margin-bottom: 12px;
    background: url(../images/icon.png) -54px 0 no-repeat;
}

.pm-course-img>li:nth-of-type(n)>div:hover > span {
    transition: all .1s ease-in 0s;
    background: rgba(0, 179, 227, .9);
}

.course-icon2 {
    background-position: -52px -56px;
}

.course-icon3 {
    background-position: -54px -111px;
}

.course-icon4 {
    background-position: -54px -165px;
}

.course-icon5 {
    background-position: -109px -1px;
}

.course-icon6 {
    background-position: -109px -56px;
}

.course-icon7 {
    background-position: -109px -111px;
}