.search-wrap .tabs-wrap {
    width: 1100px;
    margin: 0 auto;
}
.search-wrap .tabs-wrap ul {
    width: 100%;
}
.nav-tabs {
    border-bottom: 1px solid #e6e6e6;
}
.nav-tabs>li {
    margin-bottom: -1px;
}
.nav-tabs>li>a {
    width: 85px;
    height: 42px;
    text-align: center;
    font-size: 14px;
    line-height: 42px;
    color: #868686;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
.nav>li>a {
    padding: 0;
}
@media screen and (max-width: 1100px) {
    .search-wrap .tabs-wrap {
        width: 100%;
    }
}